@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.color {
    color: steelblue;
}

.container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left:5% ;
}

.half-width img {
    width: 100%;
}

.btn {
    background-image: linear-gradient(steelblue, cadetblue);
    padding: 0.7rem;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: #FFF;
    font-size: 1rem;
    cursor: pointer;
}

.top-banner {
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.second-banner {
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    margin-bottom: 14rem;
}

.experience-item {
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    padding: 5%;
    margin-inline: 5%;
    border-radius: 10px;
}